<cl-header>
    <div class="cl-header-content">
      <div class="cl-header-content-inner">
        <h1>{{site.title}}</h1>
        <hr>
        <h3>Change-log for the QRL Tipbot</h3>

      </div>
  </div>
</cl-header>
  <section id="changelog">
    <div class="container-fluid">
      <div class="container">
        <div class="">

        <!--v1.0.3 changes-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipbot V1.0.3 Change-log</h3>
          </div>
          <div class="panel-body">
            <div class="clearfix">
                <h2 class="pull-left"><a href="">V1.0.3</a></h2>
            </div>
              <p>Updates to correct bugs discovered through testing in the contributors discord. Adding new <code>+random</code> command</p>
            <div class="clearfix">
              <h5 class="pull-left">Bug Fixes</h5>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>Double Payout for un-banned users</strong> - Fix double payout for users that have been banned and unbanned. </li>
              <li class="list-group-item"><strong>Forever typing</strong> - Fix forever typing bot and update to message for tipping tipbot and tips command</li>
              <li class="list-group-item"><strong>Cleanup Response</strong> - Cleanup faucet responses to user</li>
              <li class="list-group-item"><strong>Hardcoded Prefix</strong> - remove hardecoded prefix for config.discord.prefix</li>
            </ul>
            <div class="clearfix">
              <h5 class="pull-left">Feature Request</h5>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>random.js command added</strong> - Added random command pulling latest data from drand network </li>
              <li class="list-group-item"><strong>drand function</strong> - function for the drand randomness query pulled from drand documentation</li>
              <li class="list-group-item"><strong>added drand dependencies</strong> - package.json requirements for drand-client ^0.2.0</li>
            </ul>


            </div>
            <div class="panel-footer">Code hosted on Github @ <a href="https://github.com/theqrl-community/tipbot">The QRL Community</a></div>
          </div>



        <!--v1.0.2 changes-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipbot V1.0.2 Change-log</h3>
          </div>
          <div class="panel-body">
            <div class="clearfix">
                <h2 class="pull-left"><a href="https://github.com/theqrl-community/tipbot/pull/1">V1.0.2</a></h2>
            </div>
            <p>Initial load of the tipbot implementing changes from alpha/beta testing. Includes functional tipbot for the discord community.</p>

          <ul class="list-group">
            <li class="list-group-item"><strong>Repo creation</strong> - Create public repo, assign MIT license and load README</li>
            <li class="list-group-item"><strong>Initial code upload</strong> - Adding functionality for tipping QRL using the Discord chat app. Initial functional bot loaded, Happy tipping!</li>
          </ul>
          </div>
            <div class="panel-footer">Code hosted on Github @ <a href="https://github.com/theqrl-community/tipbot">The QRL Community</a></div>

          </div>
        </div>
      </div>
    </div>
  </section>